<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Available Items
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionChange)="setFilteredItems(searchTerm)"
  ></ion-searchbar>
  <!-- <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar> -->

  <ion-list>
    <ion-card *ngFor="let p of products">
      <ion-item lines="none">
        <ion-label> <b>{{ p.name }}</b></ion-label>
        <ion-button fill="outline" slot="end" (click)="addToCart(p)">
          <ion-icon name="add" slot="end"></ion-icon>

          Add</ion-button
        >
      </ion-item>
      <ion-card-header>
        <ion-card-subtitle>
          <ion-label> <b>{{ p.categoryByname }}</b></ion-label>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <ion-label class="priceText">
              <b>{{ p.price | currency:"PHP":"₱" }}</b>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCart()" #cart>
      <div class="cart-length">{{ cartItemCount }}</div>
      <ion-icon name="cart" class="cart-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
