<ion-header>
    <ion-toolbar>
        <ion-title class="request-title"
            >Request Services: {{ assistanceData.assistanceType.label
            }}</ion-title
        >
        <ion-buttons slot="primary">
            <ion-buttons (click)="getCurrentPosition()">
                <ion-icon name="locate" slot="icon-only"></ion-icon>
            </ion-buttons>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-no-margin assistance-preview">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
    <ion-grid>
        <ion-row>
            <agm-map
                *ngIf="assistanceData.mylocation"
                [latitude]="assistanceData.mylocation.latitude"
                [longitude]="assistanceData.mylocation.longitude"
                [zoom]="15"
                [disableDefaultUI]="false"
                [zoomControl]="false"
            >
                <!-- MY MARKER LOCATION -->
                <agm-marker
                    (markerClick)="clickedMarker(mapSetup)"
                    [latitude]="assistanceData.mylocation.latitude"
                    [longitude]="assistanceData.mylocation.longitude"
                    [iconUrl]="mapSetup.iconUrl"
                >
                    <agm-info-window>
                        <strong>{{ mapSetup.message }}</strong>
                    </agm-info-window>
                </agm-marker>

                <agm-circle
                    [latitude]="assistanceData.mylocation.latitude"
                    [longitude]="assistanceData.mylocation.longitude"
                    [radius]="800"
                    [fillColor]="'red'"
                    [circleDraggable]="false"
                    [editable]="false"
                >
                </agm-circle>
            </agm-map>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-card>
                <ion-list>
                    <ion-item>
                        <ion-icon
                            name="pin"
                            slot="start"
                            class="my-icon"
                        ></ion-icon>
                        <ion-label>Tracking your location... </ion-label>
                        <ion-button fill="outline" slot="end">
                            <ion-icon name="call" slot="start"></ion-icon>
                            Call
                        </ion-button>
                    </ion-item>
                    <ion-item-group>
                        <ion-item-divider>
                            <ion-label
                                >Details
                                <small
                                    >(Please wait for the shop to
                                    respond)</small
                                ></ion-label
                            >
                        </ion-item-divider>
                        <ion-item>
                            <ion-label
                                ><span class="label">STATUS</span
                                ><span class="label-value">
                                    <ion-chip
                                        color="danger"
                                        *ngIf="assistanceData.status ==='PENDING'"
                                    >
                                        <ion-icon
                                            name="close-circle"
                                        ></ion-icon>
                                        <ion-label
                                            >{{
                                            assistanceData.status}}</ion-label
                                        >
                                    </ion-chip>
                                    <ion-chip
                                        color="success"
                                        *ngIf="assistanceData.status ==='ACCEPTED'"
                                    >
                                        <ion-icon
                                            name="checkmark-circle"
                                        ></ion-icon>
                                        <ion-label
                                            >{{
                                            assistanceData.status}}</ion-label
                                        >
                                    </ion-chip>
                                </span>
                            </ion-label>
                        </ion-item>

                        <ion-item>
                            <ion-label
                                ><span class="label">EST. ARRIVAL:</span
                                ><span class="label-value"
                                    ><ion-spinner
                                        name="dots"
                                        *ngIf="!assistanceData.escalatedTime"
                                    ></ion-spinner
                                    >{{ assistanceData.escalatedTime}}</span
                                >
                            </ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label
                                ><span class="label">FLAT RATE:</span
                                ><span class="label-value">
                                    <ion-spinner
                                        name="dots"
                                        *ngIf="!assistanceData.flatRate"
                                    ></ion-spinner
                                    >₱ {{ assistanceData.flatRate}}
                                </span>
                            </ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label
                                ><span class="label">SHOP-NAME:</span
                                ><span class="label-value">SERVICES</span>
                            </ion-label>
                        </ion-item>
                    </ion-item-group>
                </ion-list>
                <ion-card-content>
                    <ion-item>
                        <ion-label class="ion-text-wrap">
                            <ion-text color="primary">
                                <h3>Note:</h3>
                            </ion-text>
                            <ion-text color="secondary">
                                <p>
                                    {{ assistanceData.note}}
                                </p>
                            </ion-text>
                        </ion-label>
                    </ion-item>
                </ion-card-content>
            </ion-card>
        </ion-row>
    </ion-grid>
</ion-content>
