ion-content {
  --background: #f95f62;
}
.menu-list {
  height: 100%;
  ion-card-content {
    text-align: center;
    .descriptions {
      font-size: 12px;
      font-weight: bolder;
      font-style: italic;
      color: #5f6368;
    }
  }
}
