:host {
  .in-used {
    color: white;
    margin-left: 20px;
    background: #7b728c;
    border-radius: 3px;
    padding: 3px 4px;
  }
  .car-name {
    margin-left: 20px;
  }
  .plate-number {
    background: #fea014;
    padding: 3px 10px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bolder;
  }
  .car-card {
    width: 100%;
  }
}
