<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="onBack();">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="addCar()">
        <ion-icon slot="start" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Your cars</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>

  <ion-list>
    <ion-item>
      <ion-searchbar
        [(ngModel)]="searchTerm"
        (ionChange)="setFilteredItems(searchTerm)"
      ></ion-searchbar>
    </ion-item>
    <ion-item *ngFor="let cars of myCars; let index = i">
      <ion-card
        (click)="onViewItem(cars)"
        class="ion-activatable ripple-parent"
      >
        <ion-item>
          <ion-icon name="car"></ion-icon>
          <ion-label class="car-name">{{ cars.modelName }}</ion-label>
          <span title="plate numer" class="plate-number"
            >{{ cars.plateNumber }}</span
          >
        </ion-item>
        <ion-card-content>
          {{ cars.description }}
        </ion-card-content>
        <ion-item>
          <ion-icon name="calendar"></ion-icon>
          <small> July 10, 2011</small>
          <small class="in-used" *ngIf="cars.id === 1"> in-used</small>
        </ion-item>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
