:host {
  ion-toolbar {
    background: #b4eff9;
  }
  .shop-status {
    font-size: 12px;
    font-weight: bold;
    background: #747099;
    color: white;
    padding: 4px 6px;
    border-radius: 3px;
    margin-right: 4px;
  }
}
