<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="onBack();">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons> -->

    <ion-title>Discover Shops</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>

  <ion-list>
    <ion-item>
      <ion-searchbar
        [(ngModel)]="searchTerm"
        (ionChange)="setFilteredItems(searchTerm)"
      ></ion-searchbar>
    </ion-item>
    <ion-item *ngFor="let shops of allShops; let index = i">
      <ion-card
        (click)="onShopMenus(shops)"
        class="ion-activatable ripple-parent shop-card"
      >
        <ion-item>
          <ion-icon name="car"></ion-icon>
          <ion-label class="car-label">{{ shops.name }}</ion-label>
          <ion-button color="warning" fill="outline" slot="end">
            <span class="ratings-icons">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </span>
          </ion-button>
        </ion-item>
        <ion-card-content>
          {{ shops.address }}
        </ion-card-content>
        <ion-item>
          <span class="shop-status">Open time: (8:00am-5pm)</span>
          <span class="shop-status">
            <ion-icon name="call"></ion-icon> {{ shops.mobile }}
          </span>
        </ion-item>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
