<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="onNavigate('app-schedule')">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Schedule</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="onNavigate('app-mechanics')">
      <ion-icon name="person"></ion-icon>
      <ion-label>Mechanic</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="onNavigate('app-address')">
      <ion-icon name="map"></ion-icon>
      <ion-label>Address</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="onNavigate('app-about')">
      <ion-icon name="information"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
