<ion-header>
  <ion-toolbar>
    <ion-title>Pick your vehicle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="vehicle-picker">

  <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>
  <ion-list *ngIf="vehicles.length">
      <ion-item
          *ngFor="let shop of vehicles"
          button
          (click)="selectVehicles(shop)"
      >
          <ion-icon name="car" slot="start"></ion-icon>
          {{ shop.model }} <span class="plate-number">{{ shop.plateNumber}}</span>
      </ion-item>
  </ion-list>

</ion-content>
