<ion-content>
  <ion-list>
    <ion-item (click)="onProceed('refresh')">
      <ion-icon name="refresh" slot="start"></ion-icon>
      <ion-label> Refresh location</ion-label>
    </ion-item>
    <ion-item (click)="onProceed('nearest')">
      <ion-icon name="locate" slot="start"></ion-icon>
      <ion-label>
        <ng-container *ngIf="!isNearestOnly">Show only nearest</ng-container>
        <ng-container *ngIf="isNearestOnly">Show All Shop</ng-container>
      </ion-label>
    </ion-item>
    <ion-item (click)="onProceed('theme')">
      <ion-icon name="map" slot="start"></ion-icon>
      <ion-label> Change map theme</ion-label>
    </ion-item>
    <ion-item (click)="onProceed('back')">
      <ion-icon name="arrow-back" slot="start"></ion-icon>
      <ion-label> Back Main menu</ion-label>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <div>
          <ion-button (click)="closeModal()" expand="block">
            <ion-icon name="close" slot="star"></ion-icon>
            Close
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
