<ion-content>
  <ion-list>
    <ion-item (click)="onProceed('refresh')">
      <ion-icon name="refresh" slot="start"></ion-icon>
      <ion-label> Refresh location</ion-label>
    </ion-item>
    <ion-item (click)="onProceed('theme')">
      <ion-icon name="map" slot="start"></ion-icon>
      <ion-label> Change map theme</ion-label>
    </ion-item>
    <ion-item (click)="onProceed('back')">
      <ion-icon name="arrow-back" slot="start"></ion-icon>
      <ion-label> Back Main menu</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
