<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="onBack();">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons> -->

    <ion-title>Assigned Mechanic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Your Mechanic Details</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="assistance-card-details">
      <ion-list>
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <ion-img [src]="'assets/images/mechanic.gif'"></ion-img>
          </ion-thumbnail>
          <ion-label class="assistance-label"
            >{{ personnels[0].name}} {{ personnels[0].lastName}}</ion-label
          >
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="call"></ion-icon>
          <ion-label>{{ personnels[0].phone}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
