:host {
  .new-menus {
    height: 100%;
    background: #edebeb24;
    ion-card {
      background: white;
      ion-card-subtitle {
        white-space: nowrap;
        padding: 0px;
        margin: 0;
      }
    }
    $finalHeight: 250px;
    $finalWidth: 3 * $finalHeight;
    $scrollBarHeight: 1px;

    ::-webkit-scrollbar {
      width: $scrollBarHeight;
      height: $scrollBarHeight;
    }

    ::-webkit-scrollbar-button {
      width: $scrollBarHeight;
      height: $scrollBarHeight;
    }

    .badge-one {
      position: absolute;
      top: 1px;
      right: 1px;
      font-size: 0.7em;
      --padding-start: 5px;
      --padding-end: 5px;
    }

    .my-profile {
      display: grid;
      grid-auto-flow: column;
      .my-details {
        margin: 0 auto;
        padding: 0;
        > li {
          list-style: none;
        }
      }
      .timer-avatar {
        align-self: center;
      }
      .my-data {
        align-self: center;
        .isTimer {
          font-weight: bolder;
          font-size: 17px;
        }
      }
      .timer-label {
        text-align: center;
        align-self: center;
        font-weight: bold;
        font-size: 19px;
      }
    }
    .horizontal-scroll-wrapper {
      display: flex;
      flex-wrap: nowrap;
      overflow-y: scroll;
      height: 25vh;
      background: #e3e3e3;
      .view-card {
        display: grid;
        padding: 10px;
        margin: 20px 5px;
        background: white;
        white-space: nowrap;
        &.custom-card {
          padding: 10px;
          border-radius: 5px;
          border-top-left-radius: 30px;
          border-bottom-right-radius: 30px;

          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
            0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          .shop-title {
            display: flex;
            justify-content: space-between;
            .icon {
              vertical-align: middle;
            }
            .shop-name {
              color: #777777;
              font-size: 14px;
            }
            .ratings-icons {
              color: #f4a34f;
            }
          }
          .shop-content {
            > span {
              font-weight: 500;
              font-size: 15px;
              color: #434343ee;
            }
          }
          .shop-rating {
            margin-top: auto;
            display: flex;
            justify-content: space-between;
            > span {
              padding: 8px;
            }
          }
        }
      }
    }
    .force-color {
      background: white;
    }
  }
}
