<ion-header>
  <ion-toolbar>
    <ion-title>ERA Application</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-grid class="new-menus">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="my-profile">
            <ion-avatar class="my-avatar">
              <img
                src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
              />
            </ion-avatar>
            <div class="my-data">
              <ul class="my-details">
                <li><span class="my-name">Jhon Doe</span></li>
              </ul>
            </div>
            <!-- Add card content here! -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card class="ion-activatable ripple-parent">
          <img src="assets/images/main-menus/era-hire-mechanics.png" />
          <ion-card-header>
            <ion-card-subtitle>Assistance</ion-card-subtitle>
          </ion-card-header>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="ion-activatable ripple-parent">
          <img src="assets/images/main-menus/era-shoppin-parts.png" />
          <ion-card-header>
            <ion-card-subtitle>Discover Shops</ion-card-subtitle>
          </ion-card-header>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card class="ion-activatable ripple-parent">
          <ion-badge class="badge-one" color="danger">2</ion-badge>
          <img src="assets/images/main-menus/transactions.png" />
          <ion-card-header>
            <ion-card-subtitle>Transactions</ion-card-subtitle>
          </ion-card-header>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="ion-activatable ripple-parent">
          <ion-badge class="badge-one" color="danger">2</ion-badge>
          <img src="assets/images/main-menus/my-car.png" />
          <ion-card-header>
            <ion-card-subtitle>My Cars</ion-card-subtitle>
          </ion-card-header>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item-divider>
        <ion-label>
          Popular
        </ion-label>
      </ion-item-divider>
    </ion-row>
    <ion-row class="ion-no-padding">
      <div class="horizontal-scroll-wrapper squares">
        <ng-container *ngFor="let item of items; let i=index;">
          <div class="view-card custom-card">
            <div class="shop-title">
              <span class="icon">
                <ion-icon name="car"></ion-icon>
              </span>
              <span class="shop-name"> {{ item.name}}</span>
            </div>
            <div class="shop-content">
              <span>
                {{ item.content}}
              </span>
            </div>
            <div class="shop-rating">
              <span>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </span>
            </div>
          </div>
        </ng-container>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
