:host {
  .new-menus {
    height: 100%;
  }
  $finalHeight: 250px;
  $finalWidth: 3 * $finalHeight;
  $scrollBarHeight: 1px;

  ::-webkit-scrollbar {
    width: $scrollBarHeight;
    height: $scrollBarHeight;
  }

  ::-webkit-scrollbar-button {
    width: $scrollBarHeight;
    height: $scrollBarHeight;
  }

  .my-profile {
    display: flex;
    .my-details {
      margin: 0 auto;
      > li {
        list-style: none;
      }
    }
  }
  .horizontal-scroll-wrapper {
    background: #e5e5e580;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    transform: rotate(-90deg) translateY(-$finalHeight);
    transform-origin: right top;
    & > ion-card {
      transform: rotate(90deg);
      transform-origin: right top;
    }

    &.squares {
      & > .cards {
        width: $finalHeight;
        height: $finalHeight;
        margin: 10px 0;
      }
    }
  }
  .force-color {
    background: white;
  }
}
