<ion-content fullscreen>
  <div class="assistance-view">
    <agm-map
      *ngIf="itemsShop.length"
      [latitude]="initMap.latitude"
      [longitude]="initMap.longitude"
      [zoom]="zoom"
      [disableDefaultUI]="true"
      [zoomControl]="false"
      [styles]="mapThemeStyle"
    >
      <agm-direction
        [origin]="origin"
        [destination]="destination"
        [travelMode]="'DRIVING'"
        [renderOptions]="renderOptions"
        [markerOptions]="markerOptions"
      >
      </agm-direction>
      <agm-marker
        [latitude]="initMap.latitude"
        [longitude]="initMap.longitude"
        [iconUrl]="initMap.iconUrl"
      ></agm-marker>
      <agm-marker
        *ngFor="let m of itemsShop; let i = index"
        (markerClick)="presentModal(m)"
        [latitude]="m.location.lat"
        [longitude]="m.location.long"
        [iconUrl]="m.iconUrl"
      >
        <agm-info-window>
          <strong>{{ m.name }}</strong>
        </agm-info-window>
      </agm-marker>
    </agm-map>
    <div class="horizontal-scroll-wrapper-assistance squares">
      <ng-container *ngFor="let item of itemsShop; let i=index;">
        <div class="view-card custom-card">
          <div class="top-details">
            <small class="time-status">
              <span>Open</span>
            </small>
            <span class="ratings-icons">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </span>
          </div>

          <div class="shop-title">
            <div>
              <span class="icon">
                <ion-icon name="car"></ion-icon>
              </span>
              <span class="shop-name"> {{ item.name}}</span>
            </div>
          </div>
          <div class="shop-content">
            <small>
              Address
            </small>
            <span class="address">
              {{ item.content}}
            </span>
          </div>
          <div class="shop-rating">
            <div class="navigation">
              <ion-button size="small" expand="block">
                Directions (25mins)
                <ion-icon slot="end" name="navigate"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <ion-fab horizontal="end" vertical="top" slot="fixed">
    <ion-fab-button color="light" (click)="onAssistanceMenus()">
      <ion-icon name="menu" ios="chevron-forward-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
