<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="onBack();">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons> -->

    <ion-title>Service Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="app-details">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Items Required</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="assistance-card-details item-cart-details">
      <ion-row class="header row-list-items">
        <ion-col>
          <div>Name</div>
        </ion-col>
        <ion-col>
          <div>Quntity</div>
        </ion-col>
        <ion-col>
          <div>Price</div>
        </ion-col>
      </ion-row>
      <ion-row class="row-list-items">
        <ion-col>
          <div>sample Data 121321</div>
        </ion-col>
        <ion-col>
          <div class="item-qty">1</div>
        </ion-col>
        <ion-col>
          <div>$1000</div>
        </ion-col>
      </ion-row>
      <ion-row class="row-list-items">
        <ion-col>
          <div class="item-name">New Item Chair Black</div>
        </ion-col>
        <ion-col>
          <div class="item-qty">1</div>
        </ion-col>
        <ion-col>
          <div class="item-price">$1000</div>
        </ion-col>
      </ion-row>
      <ion-row class="row-list-items">
        <ion-col>
          <div class="item-name total total-label">Total</div>
        </ion-col>
        <ion-col>
          <div class="item-qty total total-qty">1</div>
        </ion-col>
        <ion-col>
          <div class="item-price total total-price">$1000</div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Estimated cost Details</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label class="cost-price">₱ 5,200.00</ion-label>
        </ion-item>
      </ion-list>

      <ion-card-header>
        <ion-card-subtitle>Cost notes</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="assistance-card-details">
        Your car is not passing smog check. Others are giving you really high
        repair quotes
      </ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-content>
