<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="onBack();">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>My Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Details</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="account-card-details">
      <ion-list>
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <ion-img [src]="'assets/images/roboto.png'"></ion-img>
          </ion-thumbnail>
          <ion-label class="assistance-label">Peter Doe</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="call"></ion-icon>
          <ion-label>+63 915 453 8812 </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="clipboard"></ion-icon>
          <ion-label>robot@gmail.com</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="calendar"></ion-icon>
          <ion-label>Date Reg: july 20, 2020</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label class="label-custom">Delivery Addres</ion-label>
      <ion-button slot="end">
        Change
      </ion-button>
    </ion-item>
    <ion-card-content class="account-card-details"> </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label class="label-custom">Active use vehicle</ion-label>
      <ion-button slot="end">
        Change
      </ion-button>
    </ion-item>
    <ion-card-content class="account-card-details"> </ion-card-content>
  </ion-card>
</ion-content>
