<ion-split-pane contentId="content" *ngIf="userData">
  <ion-menu side="start" contentId="content" id="menu-avatar">
    <ion-header>
      <ion-toolbar>
        <ion-item lines="none" id="menuProfile">
          <ion-avatar slot="start">
            <ion-img
              [src]="userData.imageUrl"
              onerror="this.src='./assets/images/logo.png'"
            ></ion-img>
          </ion-avatar>
          <ion-label>{{ userData.givenName}} {{ userData.familyName}}</ion-label>
        </ion-item>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list lines="none">
        <ion-list-header>Menus</ion-list-header>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-item
            (click)="onNavigatePages(p)"
            routerDirection="forward"
            [class.active-item]="selectedPath === p.url"
            button
          >
            <ion-icon name="{{p.icon}}" slot="start"></ion-icon>
            <ion-label>{{ p.title}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-title>
          <ion-chip>
            <ion-icon name="information-circle-outline"></ion-icon>
            <ion-label>About</ion-label>
          </ion-chip>
        </ion-title>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>
