<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="onBack();">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons> -->

    <ion-title>Transactions Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="trans-details">
  <ion-grid *ngIf="isLoaded">
    <ion-row>
      <ion-card>
        <ion-card-content class="my-trans-details">
          <div class="timer-avatar">
            <ion-thumbnail class="timer-avatar">
              <img [src]="'assets/images/svg/new-timer.svg'" />
            </ion-thumbnail>
          </div>
          <div class="my-data">
            <ul class="my-details">
              <li><span class="my-name">Hi, {{ userData.name}}</span></li>
              <li>
                <span class="my-name isTimer">estimated time</span>
              </li>
            </ul>
          </div>
          <div class="timer-label">
            <div>
              <span *ngIf="assistanceDetails.status === 'PENDING'"
                >Waiting....</span
              >
              <span *ngIf="assistanceDetails.status === 'INPROGRESS'"
                >{{ assistanceDetails.esitamteTravelTime}}</span
              >
            </div>
          </div>

          <!-- Add card content here! -->
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Assistance Details</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="assistance-card-details">
          <ion-list>
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <ion-img
                  [src]="assistanceDetails.serviceDetails.imgSrc"
                ></ion-img>
              </ion-thumbnail>
              <ion-label class="assistance-label"
                >{{assistanceDetails.serviceDetails.label}}</ion-label
              >
            </ion-item>
          </ion-list>
        </ion-card-content>
        <ion-card-header>
          <ion-card-subtitle>Shop Details</ion-card-subtitle>
          <ion-card-content class="assistance-card-details shop-details">
            <div class="shop-details">
              <div class="shop-header">
                <ion-label class="time-status">
                  <span class="shope-name">{{ shopsDetails.name}}</span>
                </ion-label>
                <span class="ratings-icons">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                </span>
              </div>
              <div class="shop-content">
                <ion-label class="time-status">
                  <span>Address → ({{shopsDetails.address}})</span>
                </ion-label>
              </div>
            </div>
          </ion-card-content>
        </ion-card-header>

        <ion-card-header>
          <ion-card-subtitle>Notes</ion-card-subtitle>
          <ion-card-content class="assistance-card-details">
            <div class="assistance-notes">
              <p>
                {{ assistanceDetails.notes}}
              </p>
            </div>
          </ion-card-content>
        </ion-card-header>

        <ion-card-content class="assistance-card-details map-views">
          <div class="assistance-maps">
            <agm-map
              [latitude]="initMap.latitude"
              [longitude]="initMap.longitude"
              [zoom]="zoom"
              [disableDefaultUI]="true"
              [zoomControl]="false"
              [styles]="mapThemeStyle"
              [gestureHandling]="'none'"
            >
              <agm-direction
                [origin]="origin"
                [destination]="destination"
                [markerOptions]="markerOptions"
                [travelMode]="'DRIVING'"
                [renderOptions]="renderOptions"
              >
              </agm-direction>
            </agm-map>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Estimated cost Details</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label class="cost-price">₱ 5,200.00</ion-label>
            </ion-item>
          </ion-list>

          <ion-card-header>
            <ion-card-subtitle>Cost notes</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="assistance-card-details">
            Your car is not passing smog check. Others are giving you really
            high repair quotes
          </ion-card-content>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Your Mechanic Details</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="assistance-card-details">
          <ion-list>
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <ion-img [src]="'assets/images/mechanic.gif'"></ion-img>
              </ion-thumbnail>
              <ion-label class="assistance-label">Peter Doe</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="call"></ion-icon>
              <ion-label>+63 915 453 8812 </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
