<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="onBack();">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons (click)="onViewFilteredBy();" slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title>Transactions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>

  <ion-list>
    <ion-item>
      <ion-searchbar
        [(ngModel)]="searchTerm"
        (ionChange)="setFilteredItems(searchTerm)"
      ></ion-searchbar>
    </ion-item>
    <ion-list-header>
      <ion-label>Active Transaction</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let trans of myTransactions; let index = i">
      <ion-card
        (click)="onViewDetails(trans)"
        class="ion-activatable ripple-parent"
      >
        <ion-item>
          <ion-label class="label-custom">{{ trans.tName }}</ion-label>
          <ion-button slot="end" fill="outline">
            <ion-icon slot="start" [name]="iconType[trans.tType]"></ion-icon>
            <ion-label>{{ nameType[trans.tType]}}</ion-label>
          </ion-button>
        </ion-item>
        <ion-card-content>
          {{ trans.description }}
        </ion-card-content>
        <ion-item>
          <span class="shop-status">{{ trans.dateTransaction}}</span>
        </ion-item>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>
    </ion-item>
    <ion-list-header>
      <ion-label>Past Transaction</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let trans of myTransactions; let index = i">
      <ion-card
        (click)="onViewDetails(trans)"
        class="ion-activatable ripple-parent"
      >
        <ion-item>
          <ion-icon [name]="iconType[trans.tType]"></ion-icon>
          <ion-label class="label-custom">{{ trans.tName }}</ion-label>
          <ion-button slot="end">
            {{ nameType[trans.tType]}}
          </ion-button>
        </ion-item>
        <ion-card-content>
          {{ trans.description }}
        </ion-card-content>
        <ion-item>
          <span class="shop-status">{{ trans.dateTransaction}}</span>
        </ion-item>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
