<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="onBack();">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons (click)="onViewFilteredBy();" slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title>Transactions Assistance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="transactions">
  <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>

  <ion-list>
    <ion-item>
      <ion-searchbar
        [(ngModel)]="searchTerm"
        (ionChange)="setFilteredItems(searchTerm)"
      ></ion-searchbar>
    </ion-item>
    <ion-list-header>
      <ion-label>Active Transaction</ion-label>
    </ion-list-header>

    <ion-item
      *ngFor="let pendingAssintance of assistanceListPending; let index = i"
    >
      <ion-card
        (click)="onViewAssistanceDetails(pendingAssintance)"
        class="ion-activatable ripple-parent"
      >
        <ion-item>
          <ion-label class="label-custom"
            >{{ pendingAssintance.assistanceName }}</ion-label
          >
          <ion-button slot="end" fill="outline">
            <ion-icon slot="start" name="map"></ion-icon>
            <ion-label>{{ pendingAssintance.type}}</ion-label>
          </ion-button>
        </ion-item>
        <ion-card-content>
          {{ pendingAssintance.notes }}
        </ion-card-content>
        <ion-item>
          <span class="shop-status"
            >{{ pendingAssintance.dateCreated.toDate() | date: 'dd MMM hh:mm'
            }}</span
          >
          <span class="shop-status">{{ pendingAssintance.status }}</span>
        </ion-item>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>
    </ion-item>

    <!-- =========================== -->

    <ion-list-header>
      <ion-label>Past Transaction</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let trans of pastTransactions; let index = i">
      <ion-card
        (click)="onViewDetails(trans)"
        class="ion-activatable ripple-parent"
      >
        <ion-item>
          <ion-icon [name]="'checkbox'"></ion-icon>
          <ion-label class="label-custom">{{ trans.type }}</ion-label>
          <ion-button slot="end" color="success" fill="outline">
            <ion-icon slot="start" [name]="getIcon(trans.type)"></ion-icon>
            <ion-label>{{ trans.status}}</ion-label>
          </ion-button>
        </ion-item>
        <ion-card-content>
          {{ trans.assistanceName }}
        </ion-card-content>
        <ion-item>
          <span class="shop-status"
            >{{ trans.dateCreated.toDate() | date: 'dd MMM hh:mm'}}</span
          >
        </ion-item>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
